<!--
  ~ Copyright 2022-2023 Marcel Baumann
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of
  ~ the License at
  ~
  ~          http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
  ~ OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.
  ~
  -->

<div class="td-content">
    <h1>{{ .Title }}</h1>
    {{ with .Params.description }}
    <div class="lead">{{ . | markdownify }}</div>
    {{ end }}
    <div class="td-byline mb-4">
        {{ with .Params.author }}{{ T "post_byline_by" }} <b>{{ . | markdownify }}</b> |{{ end}}
        <time datetime="{{  $.Date.Format "2006-01-02" }}" class="text-muted">{{ $.Date.Format $.Site.Params.time_format_blog }}</time>
    </div>
    <header class="article-meta">
        {{ $context := . }}
        {{ if .Site.Params.Taxonomy.taxonomyPageHeader }}
            {{ range $index, $taxo := .Site.Params.Taxonomy.taxonomyPageHeader }}
                {{ partial "taxonomy_terms_article.html" (dict "context" $context "taxo" $taxo ) }}
            {{ end }}
        {{ else }}
            {{ range $taxo, $taxo_map := .Site.Taxonomies }}
                {{ partial "taxonomy_terms_article.html" (dict "context" $context "taxo" $taxo ) }}
            {{ end }}
        {{ end }}
        {{ if (and (not .Params.hide_readingtime) (.Site.Params.ui.readingtime.enable)) }}
            {{ partial "reading-time.html" . }}
        {{ end }}
    </header>
    {{ .Content }}
    {{ if (.Site.Params.comments_utterances) }}
    <br/>
    {{ partial "comments-utterances.html" . }}
    <br/>
    {{ end }}
    {{ partial "pager.html" . }}
</div>
