.DS_Store
*.bat
*.class
*.log
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

# Covers JetBrains IDE IntelliJ using gradle, include copyrights
**/.gradle/
**/out/
**/build/
**/target/
**/node_modules/
/.gradle/
/.idea/

/net.tangly.commons.ui/webpack.generated.js
/net.tangly.commons.ui/webpack.config.js
/net.tangly.commons.ui/package.json
