.DS_Store
*.bat
*.class
*.log
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.iml
hs_err_pid*

# Covers JetBrains IDE IntelliJ using gradle, include copyrights
**/.idea/
**/.gradle/
**/out/
**/build/
**/target/
**/node_modules/
**/.asciidoctor/

# Covers vaadin specifics
**/jspm_packages/

/net.tangly.erp.ui/frontend/generated/
/net.tangly.erp.ui/frontend/generated/vaadin.ts
/net.tangly.erp.ui/pnpm-lock.yaml
/net.tangly.erp.ui/pnpmfile.js
/net.tangly.erp.ui/webpack.config.js
/net.tangly.erp.ui/webpack.generated.js
/net.tangly.erp.ui/.npmrc
/net.tangly.erp.ui/frontend/index.html
/src/main/resources/references.bib.bak
/src/main/resources/references.bib.sav.tmp
/net.tangly.erp.ui/.pnpmfile.cjs
