<!--
  ~ Copyright 2022 Marcel Baumann
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of
  ~ the License at
  ~
  ~          https://apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
  ~ OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.
  -->

<div class="page-blank">
    <div id="utterancers_thread"></div>
    <script src="https://utteranc.es/client.js"
            repo= {{ .Site.Params.comments_utterances_repo }}
            issue-term= {{ .Site.Params.comments_utterances_issue_term }}
            theme= {{ .Site.Params.comments_utterances_theme }}
            crossorigin="anonymous"
            async>
    </script>
</div>
