/*!
 * Copyright 2015-2023 Marcel Baumann
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 *          http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
 * OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.
 *
 */

$header-font-family: "Open Sans", "DejaVu Sans", sans-serif;
$header-font-weight: 300;
$header-font-color: #ba3925;
$header-line-height: 1.2;
$header-top-margin: 1em;
$header-word-spacing: -0.05em;

$title-font-color: rgba(0, 0, 0, 0.85);
$title-font-weight: $header-font-weight;
$subheader-font-family: default;
$subheader-font-size: 1rem;
$subheader-font-color: #7a2518;
$subheader-font-weight: normal;
$subheader-font-style: italic;
$subheader-line-height: 1.45;
$subheader-top-margin: 0;
$subheader-bottom-margin: 0.25em;

$hr-border-color: #ccc;
$hr-border-style: dotted;
$hr-border-width: 1px;

$sect-divider-size: 1px !default;
$sect-divider-style: solid !default;
$sect-divider-color: #ddd !default;


$blockquote-cite-font-color: rgba(0, 0, 0, 0.6);

$tabs-bg: #fff;

$table-bg: #fff;
$table-even-row-bg: #f9f9f9;

$table-border-style: solid;
$table-border-size: 1px;
$table-border-color: #ddd;

$table-head-bg: #f5f5f5;
$table-head-font-size: 14px;
$table-head-font-color: #222;
$table-head-font-weight: bold;
$table-head-padding: 8px 10px 10px;

$table-row-padding: 9px 10px;
$table-row-font-size: 14px;
$table-row-font-color: #222;
$table-line-height: 18px;

$table-display: table-cell;
$table-margin-bottom: 20px;

audio, canvas, video {
    display: inline-block
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

.clearfix:before, .clearfix:after, .float-group:before, .float-group:after {
    content: " ";
    display: table
}

.clearfix:after, .float-group:after {
    clear: both
}


.admonitionblock > table {
    border-collapse: separate !important;
    border: 0 !important;
    background: none;
    width: 100%;

    td {
        &.icon {
            text-align: center;
            vertical-align: middle;
            width: 80px;

            img {
                max-width: none;
            }

            .title {
                font-weight: bold;
                color: rgba(0, 0, 0, 0.6);
                text-transform: uppercase;
            }
        }

        &.content {
            padding-left: 1.125em;
            padding-right: 1.25em;
            color: rgba(0, 0, 0, 0.6);
            background: #fafafa;
            word-wrap: anywhere;

            > :last-child > :last-child {
                margin-bottom: 0;
            }
        }
    }
}

.admonitionblock td.icon [class^="fa icon-"] {
    font-size: 2.5em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: default;
}

.admonitionblock td.icon {
    .icon-note::before {
        content: "\f05a";
        color: #19407c;
    }

    .icon-tip::before {
        content: "\f0eb";
        text-shadow: 1px 1px 2px rgba(155, 155, 0, .8);
        color: #111;
    }

    .icon-warning::before {
        content: "\f071";
        color: #bf6900;
    }

    .icon-caution::before {
        content: "\f06d";
        color: #bf3400;
    }

    .icon-important::before {
        content: "\f06a";
        color: #bf0000;
    }
}

.quoteblock {
    margin: 0 1em 1em 1.5em;
    display: table;

    &:not(.excerpt) > .title {
        margin-left: -1.5em;
        margin-bottom: 0.75em;
    }

    blockquote, p {
        color: $blockquote-cite-font-color;
        line-height: 1.5;
        word-spacing: 0.1em;
        letter-spacing: 0;
        font-style: italic;
        text-align: justify;
    }

    blockquote {
        margin: 0;
        padding: 0;
        border: 0;

        &:before {
            float: left;
            font-size: 2.75em;
            font-weight: bold;
            line-height: 0.6em;
            margin-left: -0.6em;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        }

        > .paragraph:last-child p {
            margin-bottom: 0;
        }
    }

    .attribution {
        margin-top: 0.75em;
        margin-right: 0.5ex;
        text-align: right;
    }
}

.imageblock {
    > .title {
        text-align: left;
        font-size: 1rem;
        font-style: italic;
        line-height: 1.45;
        color: #7a2518;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
    }
}

//top margin, right margin, bottom margin, left margin

.imageblock.left {
    margin: 0.25em 1.25em 0.25em 0.25em;
}

.imageblock.right {
    margin: 0.25em 0.25em 0.25em 1.25em;
}

.imageblock.thumb {
    border-width: 6px;

    > .title {
        padding: 0 0.125em;
    }
}

.imageblock.th {
    border-width: 6px;

    > .title {
        padding: 0 0.125em;
    }
}

.image.left {
    margin: 0.25em 0.25em 0.25em 0.25em;
    display: inline-block;
    line-height: 0;
}

.image.right {
    margin: 0.25em 0.25em 0.25em 0.25em;
    display: inline-block;
    line-height: 0;
}

a.image {
    text-decoration: none;
    display: inline-block;

    object {
        pointer-events: none;
    }
}

.conum[data-value] {
    display: inline-block;
    justify-content: center;
    align-items: center;
    vertical-align: text-bottom;
    color: #fff !important;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 100px;
    border-radius: 150px;
    text-align: center;
    font-size: 0.75em;
    width: 1.67em;
    height: 1.67em;
    line-height: 1.67em;
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
    font-style: normal;
    font-weight: bold;

    * {
        color: #fff !important;
    }

    + b {
        display: none;
    }

    pre & {
        position: relative;
        top: -0.125em;
    }

    &:after {
        content: attr(data-value);
    }
}

b.conum * {
    color: inherit !important;
}

.conum:not([data-value]):empty {
    display: none;
}

.hdlist > table,
.colist > table {
    border: 0;
    background: none;

    > tbody > tr {
        background: none;
    }
}

.colist td:not([class]) {
    &:first-child {
        padding: 0.4em 0.75em 0 0.75em;
        line-height: 1;
        vertical-align: top;

        img {
            max-width: none;
        }
    }

    &:last-child {
        padding: 0.25em 0;
    }
}

td.hdlist1,
td.hdlist2 {
    vertical-align: top;
    padding: 0.625em;
}

td.hdlist1 {
    font-weight: bold;
    padding-bottom: 1.25em;
}

td.hdlist2 {
    word-wrap: anywhere;
}

table.tableblock, th.tableblock, td.tableblock {
    border: 0 solid $table-border-color;
}

table.grid-all > * > tr > * {
    border-width: $table-border-size;
}

table.grid-cols > * > tr > * {
    border-width: 0 $table-border-size;
}

table.grid-rows > * > tr > * {
    border-width: $table-border-size 0;
}

table.frame-all {
    border-width: $table-border-size;
}

table.frame-ends {
    border-width: $table-border-size 0;
}

table.frame-sides {
    border-width: 0 $table-border-size;
}
